html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{font-size: 64px; font-weight: 600; text-align: center; }
hr{width: 500px; margin-top: 30px;}
h2{font-size: 36px; text-align: center; margin-top: 20px;}
.box{width: 200px;
height: 200px; background-color: aqua; margin: 0 auto; margin-top: 30px; border: 20px solid blue; outline: 10px solid black; box-shadow: 0 0 0 30px brown;}

span {display: inline-block;}
.dot1 {width: 20px; height: 20px; border-radius: 50%; background-color:aqua ; vertical-align: middle; margin-right: 10px;}
.box2 {text-align: center; margin-top: 60px;}
.dot2{width: 20px; height: 20px; border-radius: 50%; background-color:blue ; vertical-align: middle; margin-right: 10px;}
.dot3{width: 20px; height: 20px; border-radius: 50%; background-color:black ; vertical-align: middle; margin-right: 10px;}
.dot4{width: 20px; height: 20px; border-radius: 50%; background-color:brown ; vertical-align: middle; margin-right: 10px;}

h3{text-align: center; font-size: 20px; margin-top: 20px;}

.box3{display: flex; border: 1px solid black; width: 500px; height: 50px; margin-left: 700px; margin-top: 50px; padding: 20px; text-align: center;}
.div1{margin: 10px; background-color: rgb(224, 151, 151); width: 100px; height: 40px; margin-left: 70px; margin-top: 5px;}
.div2{margin: 10px; background-color: rgb(224, 151, 151); width: 100px; height: 40px; margin-top: 5px;}
.div3{margin: 10px; background-color: rgb(224, 151, 151); width: 100px; height: 40px; margin-top: 5px;}

p{text-align: center; font-size: 25px; margin-top: 20px;}